:root {
  --primary-color: #f9f7fe;
  --primary-fontfamily: "Poppins", sans-serif;
  --second-font: "Playfair Display", serif;
}
body {
  font-family: var(--primary-fontfamily);
  font-weight: 400;
}

.intro {
  padding: 80px 0;
  background-color: var(--primary-color);
  text-align: center;
}
p.fw-bold {
  font-size: 25px;
}
.Playfair700 {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 50px;
}

.btn-contact {
  background-color: #6c63ff;
  width: 100px;
  height: 50;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}
.btn-contact:hover {
  background-color: #4b44c8 !important;
  color: #fff;
}
