:root {
  --primary-color: #f9f7fe;
  --primary-fontfamily: "Poppins", sans-serif;
  --second-font: "Playfair Display", serif;
  --btncolor: #6c63ff;
  --btnhovercolor: #4b44c8;
}
body {
  font-family: var(--primary-fontfamily);
  font-weight: 400;
}

.intro {
  padding: 80px 0;
  background-color: var(--primary-color);
  text-align: center;
}
p.fw-bold {
  font-size: 25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-font);
  font-weight: 700;
  /* font-size: 50px; */
}

.btn-contact {
  background-color: var(--btncolor);
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  padding: 15px 35px;
  line-height: 25px;
}
.btn-contact:hover {
  background-color: var(--btnhovercolor) !important;
  color: #fff;
}
.p-info {
  max-width: 514px;
  text-align: justify;
}
.btn-text {
  color: var(--btncolor);
  border: 1px solid var(--btncolor);
  border-radius: 5px;
  font-size: 12px;
  padding: 15px 30px;
}
.btn-text:hover {
  background-color: var(--btnhovercolor) !important;
  color: #fff;
}
@media (max-width: 570px) {
  .col-md-6 {
    text-align: center;
  }
}

/* about pge css */
.About-section,
.work-section,
.contact-section {
  padding: 80px 0;
}
.About-section h1 {
  font-size: 44px;
  max-width: 400px;
}
.About-section h2 {
  font-family: var(--primary-fontfamily);
  font-size: 18px;
}

.About-section p {
  max-width: 400px;
  text-align: justify;
  font-size: 16px;
}
.About-section img {
  margin: 0 auto;
  height: auto;
  width: 450px;
  display: block;
}
@media (max-width: 570px) {
  .About-section h1,
  .About-section p {
    max-width: 100%;
  }
}
/* work page */
.work-section h1 {
  max-width: 600px;
  font-size: 54px;
}
.work-box h3 {
  font-family: var(--primary-fontfamily);
}
.work-box p {
  color: #272142;
}
.work-box img {
  border-radius: 20px;
}
/* contact */
.contact-section a {
  color: #242424;
  text-decoration: none;
  font-family: var(--primary-fontfamily);
}
